{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block add_title %}Home{% endblock %}

{% block main_nav_home %}
    active
{% endblock %}


{% block content%}
<!-- Landing Page container -->
<div class="container-flex">
    <div class="home-page">
        <div class="home-page-content d-flex align-items-end">
            <div class="mx-auto text-center landing-text-container">
                <h1 class="txt-steel mb-3"><span class="font-heading">Do you need a new <span class="font-accent">plant family member</span> Plant Parent is here for you </span></h1>
                <p class="w-75 mx-auto">Become a member of the plant parent family and get discounts and help your plants to survive</p>
                <div class="my-3 mt-md-3 mb-md-5">
                    <a href="{% url 'memberships' %}" class="button button-green text-uppercase">Join</a>
                </div>
            </div>
        </div>
    </div>
<!-- Colorful line dividers -->
    <div class="colored-lines"></div>
<!-- How it works section -->
    <div class="container mt-3 text-center">
        <h3 class="font-heading heading-green d-inline-block px-2 pb-2 my-5">How it works</h3>
        <div class="row">
            <div class="col-12 col-md-4 mb-5 steps-container txt-green">
                <h5 class="font-heading">Join our membership</h5>
                <p>Select one of our 3 plans (Basic  is completely free) and receive immediate discounts.</p>
                <img src="{{ MEDIA_URL }}love.png" alt="a heart shaped seedling" class="mt-3">
            </div>
            <div class="col-12 col-md-4 mb-5 steps-container txt-steel">
                <h5 class="font-heading">Shop your favourites</h5>
                <p>Treat yo' self with a green friend (they are good listeners) or choose a gift for a friend that you know will be on point.</p>
                <img src="{{ MEDIA_URL }}love-plant.png" alt="heart shaped flower in a pot" class="mt-3">
            </div>
            <div class="col-12 col-md-4 mb-5 steps-container txt-pink">
                <h5 class="font-heading">Enjoy and Share</h5>
                <p>Have the best time with your new plant friends and share the love with others.</p>
                <img src="{{ MEDIA_URL }}flower.png" alt="a heart shaped flower" class="mt-3">
            </div>
        </div>
        <div class="my-3 mt-md-3 mb-md-5">
            <a href="{% url 'memberships' %}" class="button button-steel text-uppercase">Memberships</a>
        </div>
    </div>
<!-- Featured Item section -->
    <div class="text-center clr-steel pb-5">
        <h3 class="font-heading heading-pink d-inline-block px-sm-2 pb-2 my-5">Need a new plant child? </h3>
        <div class="row w-100 m-0">
            <div class="col-12 col-lg-6 p-0">
                <div class="new-this-month">
                    <img src="{{ MEDIA_URL }}showcase1.jpg" alt="a monstera variegata offshoot" class="showcase1">
                    <img src="{{ MEDIA_URL }}showcase2.jpg" alt="fiddle leaf fig in a pot"  class="showcase2">
                </div>
            </div>
            <div class="col-12 col-lg-5 my-auto me-auto p-0 new-this-month-txt">
                <p class="mt-5 px-3 px-sm-5 p-lg-0 mt-lg-auto">From rare adult plant to offshoots or handcrafted pots. See what Plant Parents can offer you</p>
                <div class="my-3 mt-md-3 mb-md-5 text-center">
                    <a href="{% url 'products' %}" class="button button-pink text-uppercase">Shop</a>
                </div>
            </div>
        </div>
    </div>
<!-- Instagram picture section -->
    <div class="text-center mb-5">
        <h3 class="font-heading heading-steel d-inline-block px-sm-2 pb-2 mt-5 mb-2">Plant Fam</h3>
        <a href="https://www.instagram.com/" target="_blank" class="font-accent d-block fs-3 txt-steel text-decoration-none mb-5">@Plantparents</a>
        <div class="insta-pic-container row">
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame1.jpg" alt="a wall of succulents">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame2.jpg" alt="a cute tiny cactus">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame3.jpg" alt="a monstera variegata held by a person">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame4.jpg" alt="pink flower in a macro shot">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame5.jpg" alt="A plant in sunlight">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame6.jpg" alt="different cacti in pots">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame7.jpg" alt="a shot of a pink succulent">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame8.jpg" alt="A bonsai tree in a pot">
            </div>
            <div class="col-4 p-0 insta-img">
                <img src="{{ MEDIA_URL }}img-frame9.jpg" alt="shot of big plant leaves">
            </div>
        </div>
    </div>
</div>
{% endblock %}