/* Import fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600&family=Caveat:wght@400;600&family=Quicksand:wght@300;400;500;600&display=swap');


/* ---------- COMMON STYLES ---------- */

:root {
    --color-main: #152c35;
    --color-light-steel: #b3bcc9;
    --color-light-pink: #e5dbdc;
    --color-light-green: #a9c6c4;
    --color-pink: #9e919a;
    --color-steel: #75869b;
    --color-green: #698b89;
    --font-headings: 'Bodoni Moda', serif;
    --font-accent: 'Caveat', cursive;
}

html {
    height: 100%;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: var(--color-main);
}
/* Text color styles */
.txt-darkblue {
    color: var(--color-main);
}

.txt-steel {
    color: var(--color-steel);
}

.txt-green {
    color: var(--color-green);
}

.txt-pink {
    color: var(--color-pink);
}

.txt-small {
    font-size: 0.8rem;
}

.txt-link {
    color: var(--color-main);
    text-decoration: none;
    border-bottom: 2px solid var(--color-light-pink);
}

.txt-link:hover {
    color: var(--color-main);
    background-color: var(--color-light-pink);
}

.clr-steel {
    background-color: var(--color-light-steel);
}

.clr-pink {
    background-color: var(--color-light-pink);
}
/* Heading styles */
.font-heading {
    font-family: var(--font-headings);
    font-weight: 600;
}

.heading-green {
    background-color: var(--color-light-green);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, var(--color-light-green)), color-stop(90%, var(--color-light-green)), color-stop(0, transparent));
    background: -o-linear-gradient(transparent 50%, var(--color-light-green) 50%, var(--color-light-green) 90%, transparent 0);
    background: linear-gradient(transparent 50%, var(--color-light-green) 50%, var(--color-light-green) 90%, transparent 0);
}


.heading-pink {
    background-color: var(--color-light-pink);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, var(--color-light-pink)), color-stop(90%, var(--color-light-pink)), color-stop(0, transparent));
    background: -o-linear-gradient(transparent 50%, var(--color-light-pink) 50%, var(--color-light-pink) 90%, transparent 0);
    background: linear-gradient(transparent 50%, var(--color-light-pink) 50%, var(--color-light-pink) 90%, transparent 0);
}

.heading-steel {
    background-color: var(--color-light-steel);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, var(--color-light-steel)), color-stop(90%, var(--color-light-steel)), color-stop(0, transparent));
    background: -o-linear-gradient(transparent 50%, var(--color-light-steel) 50%, var(--color-light-steel) 90%, transparent 0);
    background: linear-gradient(transparent 50%, var(--color-light-steel) 50%, var(--color-light-steel) 90%, transparent 0);
}


.font-accent {
    font-family: var(--font-accent);
}
/* Buttons */
.button {
    display: inline-block;
    line-height: 1.5;
    color: var(--color-main);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    background-color: transparent;
    border: 3px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    text-transform: uppercase;
}


.button:focus {
    outline: none;
}

.button:hover {
    color: var(--color-main);
}

.button-disabled {
    cursor: not-allowed;
    color: var(--color-steel);
    border-color: var(--color-light-steel);
}

.button-disabled:hover {
    background-color: transparent;
    color: var(--color-steel);
}

.button-green {
    border-color: var(--color-light-green)
}

.button-green:hover {
    background-color: var(--color-light-green);
}

.button-steel {
    border-color: var(--color-light-steel)
}

.button-steel:hover {
    background-color: var(--color-light-steel);
}

.button-pink {
    border-color: var(--color-light-pink)
}

.button-pink:hover {
    background-color: var(--color-light-pink);
}


/* ---------- HEADER ---------- */

header {
    margin-bottom: 5rem;
}

nav.navbar {
    height: 4.25rem;
}

nav.navbar, .navbar-nav {
    background-color: var(--color-light-steel);
}

nav.navbar li>a {
    color: var(--color-main);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a.nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/* Icon styles */
.navbar-icons li a i {
    border: 1px solid var(--color-light-pink);
    padding: 0.3rem;
}

.navbar-icons li a i:hover {
    background-color: var(--color-light-pink);
}

/* Removing Default arrow for account icon */
.navbar .list-inline-item .dropdown-toggle::after {
    display: none;
}

ul.dropdown-menu.show {
    right: 0;
    left: auto;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.navbar-brand:hover {
    color: var(--color-main);
}

/* mobile collapse header styles */

/* creating the hover and active effect */
.navbar-nav a.nav-link.active, .navbar-nav a.nav-link:hover {
    background-color: var(--color-light-pink);
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-light-steel)), color-stop(50%, var(--color-light-steel)), color-stop(50%, var(--color-light-pink)), color-stop(80%, var(--color-light-pink)), color-stop(0, var(--color-light-steel)));
    background: -o-linear-gradient(var(--color-light-steel), var(--color-light-steel) 50%, var(--color-light-pink) 50%, var(--color-light-pink) 80%, var(--color-light-steel) 0);
    background: linear-gradient(var(--color-light-steel), var(--color-light-steel) 50%, var(--color-light-pink) 50%, var(--color-light-pink) 80%, var(--color-light-steel) 0);
}

/* Offsetting navbar height for collapsable search bar */
.collapsed-search {
    margin-top: 5rem;
    margin-bottom: -5rem;
}

/* collapse search element style */
.search-nav {
    background-color: var(--color-light-steel);
    padding: 0.5rem 0;
}

.search-nav input {
    font-size: 0.75rem;
    color: var(--color-main);
}

.search-nav input,
.search-nav .form-control:focus {
    border-color: var(--color-main);
    background-color: var(--color-light-pink);
}

.search-nav input::-webkit-input-placeholder {
    color: var(--color-main);
    opacity: 1;
}

.search-nav input::-moz-placeholder {
    color: var(--color-main);
    opacity: 1;
}

.search-nav input:-ms-input-placeholder {
    color: var(--color-main);
    opacity: 1;
}

.search-nav input::-ms-input-placeholder {
    color: var(--color-main);
    opacity: 1;
}

.search-nav input::placeholder {
    color: var(--color-main);
    opacity: 1;
}

.search-nav button {
    color: var(--color-main);
    border-color: var(--color-light-pink);
}

.search-nav button:hover {
    color: var(--color-main);
    background-color: var(--color-light-pink);
    border-color: var(--color-light-pink);
}

.search-nav .form-control:focus {
    -webkit-box-shadow: 0 0 0 0.25rem var(--color-light-pink);
            box-shadow: 0 0 0 0.25rem var(--color-light-pink);
}

/* item_count badge styles */
.shopping-cart-icon {
    position: relative;
}

span.badge.rounded-pill {
    color: var(--color-main);
    background-color: var(--color-light-pink);
    font-size: 0.5rem;
    height: 1rem;
    width: auto;
    position: absolute;
    bottom: -0.5rem;
    left: 1.5rem;
}

/* Hamburger menu styles */
span.hamburger-inner,
span.hamburger-inner::before,
span.hamburger-inner::after,
span.hamburger-inner {
    width: 33px;
    background-color: var(--color-main);
}

@media (min-width: 768px) {
    nav.navbar {
        height: 5rem;
    }
}

/* Notyf Toasts */
.notyf .notyf__message {
    color: var(--color-main);
}

.notyf .notyf__toast {
    top: 70px;
}

/* Bootstrap Toasts */
.toast {
    position: absolute;
    right: 1rem;
    background-color: #fff;
    z-index: 9999;
}

.toast .remove-item{
    font-size: 0.5rem;
}

@media (min-width: 576px) {
    .toast {
        width: 400px;
    }
}


/* ---------- FOOTER ---------- */
footer {
    line-height: 1.1;
}

.footer-group p {
    font-size: 0.9rem;
}

.footer-group li a {
    font-size: 0.8rem;
}


.footer-group li a,
footer .list-inline-item a,
.logo,
.logo:hover {
    color: var(--color-main);
    text-decoration: none;
}

.footer-group li a{
    border-bottom: 1px solid var(--color-light-pink);
}

footer .list-inline-item {
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border: 1px solid var(--color-light-pink);
}

footer .list-inline-item a {
    line-height: 2.5rem;
}

.footer-group li a:hover,
footer .list-inline-item a:hover,
footer .list-inline-item:hover {
    background-color: var(--color-light-pink);
}



/* ---------- SHOP ---------- */
/* Toggle class for sort items to be visible on a button click */
.sort-width {
    display: none;
}

#sort-trigger {
    cursor: pointer;
}

/* --------- ALLAUTH ---------- */

.allauth {
    padding-top: 2rem;
    text-align: center;
}

.allauth h1 {
    margin-bottom: 2rem;
}

.allauth .button {
    text-transform: uppercase;
}

.allauth div.form-group {
    text-align: left;
}

.allauth .form-group input {
    background-color: #fff;
    border: 1px solid var(--color-light-pink);
    border-radius: 0;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
}

.allauth .form-group label {
    display: none;
}

.allauth .form-control:focus {
    background-color: #fff;
    border-color: var(--color-light-pink);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem var(--color-light-pink);
            box-shadow: 0 0 0 0.25rem var(--color-light-pink);
}

.allauth .form-group input::-webkit-input-placeholder {
    color: #b4bfcb;
    opacity: 1;
}

.allauth .form-group input::-moz-placeholder {
    color: #b4bfcb;
    opacity: 1;
}

.allauth .form-group input:-ms-input-placeholder {
    color: #b4bfcb;
    opacity: 1;
}

.allauth .form-group input::-ms-input-placeholder {
    color: #b4bfcb;
    opacity: 1;
}

.allauth .form-group input::placeholder {
    color: #b4bfcb;
    opacity: 1;
}

.allauth #div_id_remember, .allauth #div_id_remember label {
    display: inline-block;
}

.socialaccount_providers li {
    list-style: none;
}

ul.socialaccount_providers {
    border: 1px solid var(--color-light-pink);
    padding: 0.4rem;
}

.socialaccount_providers li a{
    display: block;
    text-decoration: none;
    color: var(--color-main);
}

.socialaccount_providers li a:hover, ul.socialaccount_providers:hover {
    background-color: var(--color-light-pink);
}

.socialaccount_provider.google {
    background-image: url(/media/google-icon.svg);
    background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}



.allauth .form-check-input:checked {
    background-color: #b3bcc9;
    border-color: #b3bcc9;
}

/* ---------- 404 page --------- */

.not-found-img {
    max-width: 300px;
}

/* ---------- LOGO --------- */

img.logo {
    max-height: 3rem;
}

@media (max-width: 300px) {
   img.logo {
        max-height: 2rem;
    }
}

/* ----------LANDING PAGE---------- */

div.landing-text-container {
    
    background-color: #fcfbf9;
}