{% extends "base.html" %}
{% load static %}

{% block add_title %}404{% endblock %}

{% block content%}
    <div class="container text-center">
        <h1 class="font-heading heading-pink d-inline-block px-2 pb-2 my-5">Ohh No</h1>
        <p class="fs-6">Looks like the page you're looking for does not exist.</p>
        <p>Don't worry the plants are safe.</p>
        <img src="{{ MEDIA_URL }}404.jpeg" alt=" green and brown leaf plant" class="not-found-img">
        <div class="my-5">
            <a href="{% url 'products' %}" class="button button-pink">Buy something</a>
        </div>
    </div>
{% endblock %}