<script>
    const notyf = new Notyf({
        duration: 5000,
        position: {
            x: 'right',
            y: 'top'
        },
        types: [
            {
                type: 'success',
                duration: 90000,
                dismissible: true,
                background: '#a8c6c4',
            },
            {
                type: 'error',
                duration: 90000,
                dismissible: true,
                background: '#ca939a',
            },
            {
                type: 'info',
                duration: 90000,
                dismissible: true,
                background: '#b3bcc9',
            },
        ]
    });
</script>